body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #fff; 
    text-align: center;
    position: relative;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productCard {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 280px; 
}

.productCard h3 {
    color: #007BFF;
}

.productCard h4 {
    color: #ccc;
}

.productCard p {
    color: #bbb;
    font-weight: bolder;
}