<h1>Add Product</h1>
<form id="productForm">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Please enter the title"><br><br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" placeholder="Please enter the description"><br><br>
    <label for="code">Code</label>
    <input type="text" id="code" name="code" placeholder="Please enter the code"><br><br>
    <label for="price">Price</label>
    <input type="text" id="price" name="price" placeholder="Please enter the price"><br><br>
    <label for="stock">Stock</label>
    <input type="text" id="stock" name="stock" placeholder="Please enter the stock"><br><br>
    <label for="category">Category</label>
    <input type="text" id="category" name="category" placeholder="Please enter the category"><br><br>
    <button type="submit" id="addProductButton">Add Product</button>
</form>

<h2>Product List (Real Time)</h2>
<p id="productList"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/realTimeProducts.js"></script>